Repository TArch64/manga-love: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

.lintstagedrc:

{
    "*.{js,vue}": "eslint --fix",
    "*.{css,vue}": "stylelint --fix",
    "*.svg": "svgo --config ./svgo.config.js"
}

change auth cookie name
  packages/api/src/users/auth/auth.controller.ts
  packages/api/src/users/auth/auth.strategy.ts
Due: none

Fix form fields
  README.md
  packages/api/package.json
  packages/storefront/components/common/form/ml-form-field.vue
  packages/storefront/components/common/form/ml-password-field.vue
Due: eslint --fix, stylelint --fix

add error animations
  packages/storefront/components/common/form/ml-form-field.vue
  packages/storefront/nuxt.config.ts
Due: eslint --fix, stylelint --fix

add error validation
  packages/storefront/components/common/form/index.ts
  packages/storefront/components/common/form/ml-form-field.vue
  packages/storefront/components/common/form/ml-form.vue
  packages/storefront/components/common/form/use-form.ts
  packages/storefront/components/common/form/validators.ts
  packages/storefront/locales/locale-en.ts
  packages/storefront/nuxt.config.ts
  packages/storefront/pages/auth/forgot.vue
  packages/storefront/pages/auth/reset-password.vue
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/pages/auth/sign-up.vue
Due: eslint --fix, stylelint --fix

encrypt password
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/users/auth/auth-password.service.ts
  packages/api/src/users/auth/auth.module.ts
  packages/api/src/users/auth/auth.service.ts
Due: none

pass entered email to forgot page
  packages/storefront/components/common/ml-button-wrapper.vue
  packages/storefront/components/common/ml-button.vue
  packages/storefront/pages/auth/forgot.vue
  packages/storefront/pages/auth/sign-in.vue
Due: eslint --fix, stylelint --fix

Update logo
  packages/storefront/static/favicon.svg
  packages/storefront/static/icons.svg
Due: svgo --config ./svgo.config.js

fix forgot markup
  packages/storefront/components/common/form/ml-form.vue
  packages/storefront/layouts/auth.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/forgot.vue
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/pages/auth/sign-up.vue
  packages/storefront/styles/global.css
  packages/storefront/styles/offsets.css
Due: eslint --fix, stylelint --fix

Reset password
  packages/api/src/users/auth/auth.service.ts
  packages/api/src/users/repository/password-resets.repository.ts
  packages/storefront/components/common/form/ml-form-field.vue
  packages/storefront/components/common/ml-button-wrapper.vue
  packages/storefront/components/common/ml-button.vue
  packages/storefront/components/reset-password/index.ts
  packages/storefront/components/reset-password/reset-password-invalid.vue
  packages/storefront/components/reset-password/reset-password-valid.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/forgot.vue
  packages/storefront/pages/auth/reset-password.vue
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/styles/offsets.css
Due: eslint --fix, stylelint --fix

Add google sign in button
  .env.example
  .eslintrc.js
  packages/api/src/users/repository/password-resets.repository.ts
  packages/storefront/components/auth/index.ts
  packages/storefront/components/auth/ml-google-auth.vue
  packages/storefront/nuxt.config.ts
  packages/storefront/package-lock.json
  packages/storefront/package.json
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/store/auth-store.ts
  packages/storefront/store/index.ts
  packages/storefront/tsconfig.json
Due: eslint --fix, stylelint --fix

sign in by google
  packages/api/src/app-exceptions.filter.ts
  packages/api/src/users/auth/auth.controller.ts
  packages/api/src/users/auth/auth.service.ts
  packages/storefront/components/auth/ml-google-auth.vue
  packages/storefront/package-lock.json
  packages/storefront/package.json
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/store/auth-store.ts
  packages/storefront/store/index.ts
  packages/storefront/tsconfig.json
Due: eslint --fix, stylelint --fix

send verification email
  packages/api/.gitignore
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/prisma/migrations/20220608195126_add_email_verification/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/src/prisma/client/index-browser.js
  packages/api/src/prisma/client/index.d.ts
  packages/api/src/prisma/client/index.js
  packages/api/src/prisma/client/schema.prisma
  packages/api/src/prisma/console.ts
  packages/api/src/prisma/prisma.service.ts
  packages/api/src/prisma/seeds/users.ts
  packages/api/src/users/auth/auth.service.ts
  packages/api/src/users/auth/emails/email-verification.mail.ts
  packages/api/src/users/auth/emails/index.ts
  packages/api/src/users/repository/users.repository.ts
  packages/api/src/views/email/auth-email-verification.ejs
  packages/api/tmp/.keep
Due: eslint --fix

add code to email verification
  packages/api/prisma/schema.prisma
  packages/api/src/prisma/client/index-browser.js
  packages/api/src/prisma/client/index.d.ts
  packages/api/src/prisma/client/index.js
  packages/api/src/prisma/client/schema.prisma
  packages/api/src/prisma/console.ts
  packages/api/src/users/auth/auth-token.service.ts
  packages/api/src/users/auth/auth.controller.ts
  packages/api/src/users/auth/auth.module.ts
  packages/api/src/users/auth/auth.strategy.ts
  packages/api/src/users/auth/password-reset.service.ts
  packages/api/src/users/auth/sign-in.service.ts
  packages/api/src/users/auth/sign-up.service.ts
  packages/api/src/users/repository/index.ts
  packages/api/src/users/repository/password-resets.repository.ts
  packages/api/src/users/repository/user-actions.repository.ts
  packages/api/src/users/repository/users-repository.module.ts
Due: eslint --fix

add api validations
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/main.ts
  packages/api/src/users/auth/auth.controller.ts
Due: none

add email confirmation page
  packages/storefront/components/auth/index.ts
  packages/storefront/components/auth/ml-auth-result.vue
  packages/storefront/components/common/form/ml-password-field.vue
  packages/storefront/components/common/ml-icon.vue
  packages/storefront/pages/auth/email-verification.vue
  packages/storefront/static/auth-icons.svg
  packages/storefront/static/common-icons.svg
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

remove extra validations
  packages/api/src/users/auth/password-reset.service.ts
  packages/api/src/users/auth/sign-in.service.ts
  packages/api/src/users/auth/sign-up.service.ts
Due: none

show email verification page
  packages/api/src/users/auth/auth.controller.ts
  packages/api/src/users/auth/auth.module.ts
  packages/api/src/users/auth/email-verification.service.ts
  packages/api/src/users/auth/password-reset.service.ts
  packages/api/src/users/auth/sign-up.service.ts
  packages/storefront/components/auth/index.ts
  packages/storefront/components/auth/ml-auth-action.vue
  packages/storefront/components/auth/ml-auth-result.vue
  packages/storefront/components/email-verification/email-verification-invalid.vue
  packages/storefront/components/email-verification/email-verification-valid.vue
  packages/storefront/components/email-verification/index.ts
  packages/storefront/layouts/none.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/email-verification.vue
  packages/storefront/store/auth-store.ts
  packages/storefront/store/index.ts
Due: eslint --fix, stylelint --fix

add verification request
  packages/api/src/users/auth/auth.controller.ts
  packages/api/src/users/auth/email-verification.service.ts
  packages/storefront/components/email-verification/email-verification-valid.vue
  packages/storefront/store/auth-store.ts
Due: eslint --fix, stylelint --fix

add invalid code state
  packages/storefront/components/auth/ml-auth-action.vue
  packages/storefront/components/common/ml-button.vue
  packages/storefront/components/email-verification/email-verification-invalid.vue
  packages/storefront/locales/locale-en.ts
Due: eslint --fix, stylelint --fix

Redesign reset password page
  packages/storefront/components/reset-password/reset-password-invalid.vue
  packages/storefront/locales/locale-en.ts
Due: eslint --fix, stylelint --fix

confirm email
  packages/storefront/components/auth/ml-auth-action.vue
  packages/storefront/components/auth/ml-google-auth.vue
  packages/storefront/components/email-verification/email-verification-pending.vue
  packages/storefront/components/email-verification/email-verification-success.vue
  packages/storefront/components/email-verification/index.ts
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/email-verification.vue
Due: eslint --fix, stylelint --fix

add auth & mailer microservices
  .env.example
  docker-compose.yaml
  packages/api-auth/.gitignore
  packages/api-auth/README.md
  packages/api-auth/nest-cli.json
  packages/api-auth/package-lock.json
  packages/api-auth/package.json
  packages/api-auth/src/app.controller.ts
  packages/api-auth/src/app.module.ts
  packages/api-auth/src/app.service.ts
  packages/api-auth/src/main.ts
  packages/api-auth/tsconfig.build.json
  packages/api-auth/tsconfig.json
  packages/api-mailer/.gitignore
  packages/api-mailer/README.md
  packages/api-mailer/nest-cli.json
  packages/api-mailer/package-lock.json
  packages/api-mailer/package.json
  packages/api-mailer/src/app.controller.ts
  packages/api-mailer/src/app.module.ts
  packages/api-mailer/src/app.service.ts
  packages/api-mailer/src/main.ts
  packages/api-mailer/tsconfig.build.json
  packages/api-mailer/tsconfig.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/main.ts
Due: none

Revert "add auth & mailer microservices"
  .env.example
  docker-compose.yaml
  packages/api-auth/.gitignore
  packages/api-auth/README.md
  packages/api-auth/nest-cli.json
  packages/api-auth/package-lock.json
  packages/api-auth/package.json
  packages/api-auth/src/app.controller.ts
  packages/api-auth/src/app.module.ts
  packages/api-auth/src/app.service.ts
  packages/api-auth/src/main.ts
  packages/api-auth/tsconfig.build.json
  packages/api-auth/tsconfig.json
  packages/api-mailer/.gitignore
  packages/api-mailer/README.md
  packages/api-mailer/nest-cli.json
  packages/api-mailer/package-lock.json
  packages/api-mailer/package.json
  packages/api-mailer/src/app.controller.ts
  packages/api-mailer/src/app.module.ts
  packages/api-mailer/src/app.service.ts
  packages/api-mailer/src/main.ts
  packages/api-mailer/tsconfig.build.json
  packages/api-mailer/tsconfig.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/main.ts
Due: none

move core folder to lib
  packages/api/apps/api-mailer/src/main.ts
  packages/api/apps/api/src/app-exceptions.filter.ts
  packages/api/apps/api/src/core/index.ts
  packages/api/apps/api/src/main.ts
  packages/api/apps/api/src/microservices.config.ts
  packages/api/apps/api/src/prisma/helpers/uniqueConstrain.ts
  packages/api/apps/api/src/users/auth/auth.controller.ts
  packages/api/apps/api/src/users/auth/auth.module.ts
  packages/api/apps/api/src/users/auth/email-verification.service.ts
  packages/api/apps/api/src/users/auth/password-reset.service.ts
  packages/api/apps/api/src/users/auth/sign-in.service.ts
  packages/api/apps/api/src/views/email/auth-email-verification.ejs
  packages/api/apps/api/src/views/email/auth-reset-password.ejs
  packages/api/libs/api-core/src/index.ts
  packages/api/libs/api-core/src/services/http-client.service.ts
  packages/api/libs/api-core/src/services/index.ts
  packages/api/libs/api-core/src/services/public-url.service.ts
  packages/api/libs/api-core/src/typed-error.ts
Due: none

add auth microservice
  docker-compose.yaml
  packages/api/apps/api-auth/src/api-auth.module.ts
  packages/api/apps/api-auth/src/controllers/auth.controller.ts
  packages/api/apps/api-auth/src/controllers/index.ts
  packages/api/apps/api-auth/src/main.ts
  packages/api/apps/api-auth/src/services/index.ts
  packages/api/apps/api-auth/tsconfig.app.json
  packages/api/apps/api/src/users/auth/sign-in.service.ts
  packages/api/nest-cli.json
  packages/api/package.json
  packages/api/tsconfig.json
Due: none

move auth to microservice
  packages/api/apps/api/src/users/auth/auth.controller.ts
  packages/api/apps/api/src/users/auth/auth.module.ts
  packages/api/apps/api/src/users/auth/auth.strategy.ts
  packages/api/apps/auth/src/auth.module.ts
  packages/api/apps/auth/src/controllers/auth.controller.ts
  packages/api/apps/auth/src/microservices.config.ts
  packages/api/apps/auth/src/services/auth-password.service.ts
  packages/api/apps/auth/src/services/auth-token.service.ts
  packages/api/apps/auth/src/services/email-verification.service.ts
  packages/api/apps/auth/src/services/index.ts
  packages/api/apps/auth/src/services/password-reset.service.ts
  packages/api/apps/auth/src/services/sign-in.service.ts
  packages/api/apps/auth/src/services/sign-up.service.ts
  packages/api/apps/mailer/src/controllers/mail.controller.ts
  packages/api/libs/core/src/index.ts
  packages/api/libs/core/src/success-response.ts
  packages/api/libs/database/src/helpers/index.ts
  packages/api/libs/database/src/helpers/uniqueConstrain.ts
  packages/api/libs/database/src/index.ts
  packages/api/libs/database/src/prisma/index.ts
  packages/api/libs/database/src/prisma/prisma.service.ts
  packages/api/libs/database/src/repositories/index.ts
  packages/api/libs/database/src/repositories/user/index.ts
  packages/api/libs/database/src/repositories/user/user-actions.repository.ts
  packages/api/libs/database/src/repositories/user/users-database.module.ts
  packages/api/libs/database/src/repositories/user/users.repository.ts
Due: none

move user database access to lib
  packages/api/apps/api/src/users/auth/auth.module.ts
  packages/api/apps/api/src/users/auth/auth.strategy.ts
  packages/api/apps/api/src/users/index.ts
  packages/api/apps/api/src/users/repository/index.ts
  packages/api/apps/api/src/users/repository/user-actions.repository.ts
  packages/api/apps/api/src/users/repository/users-repository.module.ts
  packages/api/apps/api/src/users/repository/users.repository.ts
  packages/api/apps/api/src/users/users.module.ts
Due: none

remove api auth view
  packages/api/apps/api/src/main.ts
  packages/api/apps/api/src/users/auth/auth.controller.ts
  packages/api/apps/api/src/views/auth-sign-in.ejs
Due: none

migrate auth to graphql
  packages/api/apps/api/src/app-exceptions.filter.ts
  packages/api/apps/api/src/app.module.ts
  packages/api/apps/api/src/main.ts
  packages/api/apps/api/src/users/auth/auth.controller.ts
  packages/api/apps/api/src/users/auth/auth.module.ts
  packages/api/apps/api/src/users/auth/auth.resolver.ts
  packages/api/apps/api/src/users/auth/models/ask-reset-password.args.ts
  packages/api/apps/api/src/users/auth/models/email-verification-state.type.ts
  packages/api/apps/api/src/users/auth/models/google-sign-in.args.ts
  packages/api/apps/api/src/users/auth/models/index.ts
  packages/api/apps/api/src/users/auth/models/reset-password-state.type.ts
  packages/api/apps/api/src/users/auth/models/reset-password.args.ts
  packages/api/apps/api/src/users/auth/models/sign-in.args.ts
  packages/api/apps/api/src/users/auth/models/sign-up.args.ts
  packages/api/apps/api/src/users/auth/models/success.type.ts
  packages/api/apps/api/src/users/auth/models/user-action-state.args.ts
  packages/api/apps/api/src/users/auth/models/verify-email.args.ts
  packages/api/apps/api/src/users/auth/response.decorator.ts
  packages/api/schema.graphql
  packages/storefront/composables/apollo/index.ts
  packages/storefront/composables/apollo/use-apollo.ts
  packages/storefront/composables/apollo/use-query-async.ts
  packages/storefront/composables/apollo/use-query.ts
  packages/storefront/composables/index.ts
  packages/storefront/composables/use-api-http.ts
  packages/storefront/graphql/user/ask-reset-password.mutation.graphql
  packages/storefront/graphql/user/email-verification-state.query.graphql
  packages/storefront/graphql/user/google-sign-in.mutation.graphql
  packages/storefront/graphql/user/index.ts
  packages/storefront/graphql/user/reset-password-state.query.graphql
  packages/storefront/graphql/user/reset-password.mutation.graphql
  packages/storefront/graphql/user/sign-in.mutation.graphql
  packages/storefront/graphql/user/sign-up.mutation.graphql
  packages/storefront/graphql/user/verify-email.mutation.graphql
  packages/storefront/nuxt.config.ts
  packages/storefront/plugins/apollo-provider.ts
  packages/storefront/store/auth-store.ts
Due: none

Fix reset password
  packages/api/apps/api/src/users/auth/auth.resolver.ts
  packages/api/apps/api/src/users/auth/models/index.ts
  packages/api/apps/api/src/users/auth/models/reset-password-state.type.ts
  packages/api/apps/api/src/users/auth/models/user-action-state.type.ts
  packages/api/apps/auth/src/services/email-verification.service.ts
  packages/api/apps/auth/src/services/password-reset.service.ts
  packages/api/schema.graphql
  packages/storefront/components/auth/ml-auth-action.vue
  packages/storefront/components/email-verification/email-verification-pending.vue
  packages/storefront/components/email-verification/email-verification-success.vue
  packages/storefront/components/reset-password/index.ts
  packages/storefront/components/reset-password/reset-password-invalid.vue
  packages/storefront/components/reset-password/reset-password-pending.vue
  packages/storefront/components/reset-password/reset-password-success.vue
  packages/storefront/graphql/user/email-verification-state.query.graphql
  packages/storefront/graphql/user/reset-password-state.query.graphql
  packages/storefront/layouts/auth.vue
  packages/storefront/layouts/default.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/reset-password.vue
  packages/storefront/store/auth-store.ts
  packages/storefront/styles/global.css
Due: eslint --fix, stylelint --fix

Fix google auth button
  packages/storefront/components/auth/ml-google-auth.vue
  packages/storefront/composables/index.ts
  packages/storefront/composables/use-external-script.ts
  packages/storefront/nuxt.config.ts
  packages/storefront/package-lock.json
  packages/storefront/package.json
  packages/storefront/tsconfig.json
Due: eslint --fix, stylelint --fix

Fix error handling
  packages/api/apps/api/src/app-exceptions.filter.ts
  packages/api/apps/api/src/main.ts
  packages/api/apps/auth/src/services/email-verification.service.ts
  packages/api/apps/auth/src/services/password-reset.service.ts
  packages/api/apps/auth/src/services/sign-in.service.ts
  packages/api/libs/core/src/index.ts
  packages/api/libs/core/src/typed-error.ts
  packages/api/libs/database/src/helpers/uniqueConstrain.ts
  packages/storefront/composables/use-api-http.ts
  packages/storefront/plugins/apollo-provider.ts
  packages/storefront/store/auth-store.ts
Due: none

Fix reset password
  packages/api/apps/api/src/main.ts
  packages/api/apps/api/src/microservices.config.ts
  packages/api/apps/auth/src/services/auth-password.service.ts
  packages/api/apps/mailer/src/services/template-render.service.ts
  packages/api/apps/mailer/src/views/auth/email-verification.ejs
  packages/api/apps/mailer/src/views/auth/email-verification.mjml
  packages/api/apps/mailer/src/views/auth/reset-password.ejs
  packages/api/apps/mailer/src/views/auth/reset-password.mjml
  packages/api/nest-cli.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/tsconfig.json
  packages/storefront/components/auth/ml-auth-action.vue
  packages/storefront/components/common/form/ml-form-field.vue
  packages/storefront/components/reset-password/reset-password-pending.vue
  packages/storefront/locales/locale-en.ts
Due: eslint --fix, stylelint --fix

Add user avatars
  docker-compose.yaml
  packages/api/apps/api/src/mangas/models/manga-poster.model.ts
  packages/api/apps/api/src/microservices.config.ts
  packages/api/apps/auth/src/auth.module.ts
  packages/api/apps/auth/src/microservices.config.ts
  packages/api/apps/auth/src/services/sign-in.service.ts
  packages/api/apps/auth/src/services/sign-up.service.ts
  packages/api/apps/uploader/src/controlers/index.ts
  packages/api/apps/uploader/src/controlers/uploader.controller.ts
  packages/api/apps/uploader/src/main.ts
  packages/api/apps/uploader/src/services/external-image.service.ts
  packages/api/apps/uploader/src/services/index.ts
  packages/api/apps/uploader/src/uploader.module.ts
  packages/api/apps/uploader/tsconfig.app.json
  packages/api/libs/core/src/aws/aws-config.service.ts
  packages/api/libs/core/src/aws/aws-s3.service.ts
  packages/api/libs/core/src/aws/aws.module.ts
  packages/api/libs/core/src/aws/index.ts
  packages/api/libs/core/src/index.ts
  packages/api/libs/core/src/services/http-client.service.ts
  packages/api/libs/core/src/services/index.ts
  packages/api/libs/core/src/services/public-url.service.ts
  packages/api/libs/database/src/repositories/image/images-database.module.ts
  packages/api/libs/database/src/repositories/image/images.repository.ts
  packages/api/libs/database/src/repositories/image/index.ts
  packages/api/libs/database/src/repositories/index.ts
  packages/api/libs/database/src/seeds/seeds.ts
  packages/api/libs/database/src/seeds/users.ts
  packages/api/nest-cli.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/prisma/migrations/20220719172236_add_user_avatar/migration.sql
  packages/api/prisma/migrations/20220719172730_replace_aspect_ratio_with_sizes/migration.sql
  packages/api/prisma/migrations/20220719191349_make_image_target_optional/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
  packages/api/tsconfig.json
Due: none

refactoring
  packages/api/apps/api/src/app.module.ts
  packages/api/apps/api/src/mangas/index.ts
  packages/api/apps/api/src/mangas/mangas.module.ts
  packages/api/apps/api/src/mangas/mangas.resolver.ts
  packages/api/apps/api/src/mangas/models/index.ts
  packages/api/apps/api/src/mangas/models/manga-filter.args.ts
  packages/api/apps/api/src/mangas/models/manga-poster.model.ts
  packages/api/apps/api/src/mangas/models/manga.model.ts
  packages/api/apps/api/src/mangas/repository/index.ts
  packages/api/apps/api/src/mangas/repository/mangas-repository.module.ts
  packages/api/apps/api/src/mangas/repository/mangas.repository.ts
  packages/api/apps/uploader/src/services/external-image.service.ts
  packages/api/apps/uploader/src/services/image-uploader.service.ts
  packages/api/apps/uploader/src/services/index.ts
  packages/api/apps/uploader/src/uploader.module.ts
  packages/api/prisma/migrations/20220719203624_remove_manga_code/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
Due: none
