Repository TArch64/manga-love: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

move auth components to auth folder
  packages/storefront/components/auth/email-verification/email-verification-invalid.vue
  packages/storefront/components/auth/email-verification/email-verification-pending.vue
  packages/storefront/components/auth/email-verification/email-verification-success.vue
  packages/storefront/components/auth/email-verification/index.ts
  packages/storefront/components/auth/index.ts
  packages/storefront/components/auth/reset-password/index.ts
  packages/storefront/components/auth/reset-password/reset-password-invalid.vue
  packages/storefront/components/auth/reset-password/reset-password-pending.vue
  packages/storefront/components/auth/reset-password/reset-password-success.vue
  packages/storefront/layouts/default.vue
  packages/storefront/nuxt.config.ts
  packages/storefront/pages/auth/email-verification.vue
  packages/storefront/pages/auth/reset-password.vue
Due: eslint --fix, stylelint --fix

add navigation
  packages/storefront/components/auth/email-verification/index.ts
  packages/storefront/components/auth/email-verification/ml-email-verification-invalid.vue
  packages/storefront/components/auth/email-verification/ml-email-verification-pending.vue
  packages/storefront/components/auth/email-verification/ml-email-verification-success.vue
  packages/storefront/components/auth/reset-password/index.ts
  packages/storefront/components/auth/reset-password/ml-reset-password-invalid.vue
  packages/storefront/components/auth/reset-password/ml-reset-password-pending.vue
  packages/storefront/components/auth/reset-password/ml-reset-password-success.vue
  packages/storefront/components/common/layout/index.ts
  packages/storefront/components/common/layout/ml-layout-navigation-link.vue
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/layouts/default.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/auth/email-verification.vue
  packages/storefront/pages/auth/reset-password.vue
  packages/storefront/pages/library.vue
  packages/storefront/pages/notifications.vue
  packages/storefront/pages/profile.vue
  packages/storefront/static/common-icons.svg
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

refactor css
  packages/storefront/components/common/layout/ml-layout-navigation-link.vue
  packages/storefront/layouts/default.vue
Due: eslint --fix, stylelint --fix

handle auth only pages
  packages/api/apps/api/src/users/models/index.ts
  packages/api/apps/api/src/users/models/user-avatar.model.ts
  packages/api/apps/api/src/users/models/user.model.ts
  packages/api/apps/api/src/users/users.resolver.ts
  packages/api/libs/database/src/repositories/user/users.repository.ts
  packages/api/schema.graphql
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/graphql/user/current-user.query.graphql
  packages/storefront/layouts/default.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/plugins/apollo-provider.ts
  packages/storefront/static/common-icons.svg
  packages/storefront/store/auth-store.ts
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

add library folders
  docker-compose.yaml
  packages/api/apps/api/src/app.module.ts
  packages/api/apps/api/src/mangas/index.ts
  packages/api/apps/api/src/mangas/mangas-library.resolver.ts
  packages/api/apps/api/src/mangas/mangas.module.ts
  packages/api/apps/api/src/mangas/models/index.ts
  packages/api/apps/api/src/mangas/models/library-folder.model.ts
  packages/api/apps/api/src/mangas/models/library.model.ts
  packages/api/apps/api/src/microservices.config.ts
  packages/api/apps/api/src/users/auth/models/user-action-state.type.ts
  packages/api/apps/api/src/users/models/user.model.ts
  packages/api/apps/auth/src/microservices.config.ts
  packages/api/apps/auth/src/services/sign-in.service.ts
  packages/api/apps/auth/src/services/sign-up.service.ts
  packages/api/apps/manga-library/src/controllers/index.ts
  packages/api/apps/manga-library/src/controllers/manga-library.controller.ts
  packages/api/apps/manga-library/src/main.ts
  packages/api/apps/manga-library/src/manga-library.module.ts
  packages/api/apps/manga-library/src/services/index.ts
  packages/api/apps/manga-library/src/services/library-folder.service.ts
  packages/api/apps/manga-library/tsconfig.app.json
  packages/api/libs/core/src/microservices/index.ts
  packages/api/libs/core/src/microservices/microservices.config.ts
  packages/api/libs/core/src/microservices/microservices.module.ts
  packages/api/libs/database/src/repositories/index.ts
  packages/api/libs/database/src/repositories/manga/index.ts
  packages/api/libs/database/src/repositories/manga/library-folder.repository.ts
  packages/api/libs/database/src/repositories/manga/mangas-database.module.ts
  packages/api/libs/database/src/repositories/user/users.repository.ts
  packages/api/nest-cli.json
  packages/api/package.json
  packages/api/prisma/migrations/20220720192411_add_library_folders/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
Due: none

move auth outside user module
  packages/api/apps/api/src/app.module.ts
  packages/api/apps/api/src/auth/auth.guard.ts
  packages/api/apps/api/src/auth/auth.module.ts
  packages/api/apps/api/src/auth/auth.resolver.ts
  packages/api/apps/api/src/auth/auth.strategy.ts
  packages/api/apps/api/src/auth/current-user.decorator.ts
  packages/api/apps/api/src/auth/index.ts
  packages/api/apps/api/src/auth/models/ask-reset-password.args.ts
  packages/api/apps/api/src/auth/models/google-sign-in.args.ts
  packages/api/apps/api/src/auth/models/index.ts
  packages/api/apps/api/src/auth/models/reset-password.args.ts
  packages/api/apps/api/src/auth/models/sign-in.args.ts
  packages/api/apps/api/src/auth/models/sign-up.args.ts
  packages/api/apps/api/src/auth/models/success.type.ts
  packages/api/apps/api/src/auth/models/user-action-state.args.ts
  packages/api/apps/api/src/auth/models/user-action-state.type.ts
  packages/api/apps/api/src/auth/models/verify-email.args.ts
  packages/api/apps/api/src/auth/response.decorator.ts
  packages/api/apps/api/src/mangas/index.ts
  packages/api/apps/api/src/mangas/mangas-library.resolver.ts
  packages/api/apps/api/src/users/index.ts
  packages/api/apps/api/src/users/models/user.model.ts
  packages/api/apps/api/src/users/users.module.ts
  packages/api/apps/api/src/users/users.resolver.ts
  packages/api/schema.graphql
Due: none

refactor schema types
  packages/api/apps/api/src/mangas/mangas-library.resolver.ts
  packages/api/apps/api/src/mangas/models/index.ts
  packages/api/apps/api/src/mangas/models/library-folder.type.ts
  packages/api/apps/api/src/mangas/models/library.model.ts
  packages/api/apps/api/src/mangas/models/library.type.ts
  packages/api/apps/api/src/users/models/index.ts
  packages/api/apps/api/src/users/models/user-avatar.type.ts
  packages/api/apps/api/src/users/models/user.model.ts
  packages/api/apps/api/src/users/models/user.type.ts
  packages/api/apps/api/src/users/users.resolver.ts
  packages/api/schema.graphql
Due: none

add nav icons transition
  packages/storefront/components/common/layout/ml-layout-navigation-link.vue
  packages/storefront/components/common/transitions/duration.ts
  packages/storefront/components/common/transitions/index.ts
  packages/storefront/components/common/transitions/ml-fade-transition.vue
  packages/storefront/static/common-icons.svg
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

create localized library folders
  packages/api/apps/api/src/auth/auth.resolver.ts
  packages/api/apps/api/src/auth/models/google-sign-in.args.ts
  packages/api/apps/api/src/auth/models/sign-up.args.ts
  packages/api/apps/api/src/main.ts
  packages/api/apps/auth/src/controllers/auth.controller.ts
  packages/api/apps/auth/src/services/sign-in.service.ts
  packages/api/apps/auth/src/services/sign-up.service.ts
  packages/api/apps/manga-library/src/controllers/manga-library.controller.ts
  packages/api/apps/manga-library/src/services/library-folder.service.ts
  packages/api/libs/core/src/index.ts
  packages/api/libs/core/src/language.enum.ts
  packages/api/schema.graphql
  packages/storefront/components/auth/ml-google-auth.vue
  packages/storefront/composables/index.ts
  packages/storefront/graphql/user/google-sign-in.mutation.graphql
  packages/storefront/graphql/user/sign-up.mutation.graphql
  packages/storefront/pages/auth/forgot.vue
  packages/storefront/pages/auth/sign-in.vue
  packages/storefront/pages/auth/sign-up.vue
  packages/storefront/store/auth-store.ts
  packages/storefront/utils/index.ts
  packages/storefront/utils/is-api-error.ts
  packages/storefront/utils/language.ts
  packages/storefront/utils/load-external-script.ts
Due: eslint --fix, stylelint --fix

display library folders
  packages/api/apps/api/src/mangas/mangas-library.resolver.ts
  packages/storefront/graphql/library/index.ts
  packages/storefront/graphql/library/library-folders.query.graphql
  packages/storefront/pages/library.vue
  packages/storefront/store/index.ts
  packages/storefront/store/library-store.ts
Due: eslint --fix, stylelint --fix

move library folder to component
  packages/storefront/components/library/index.ts
  packages/storefront/components/library/library-folders.vue
  packages/storefront/pages/library.vue
Due: eslint --fix, stylelint --fix

add library page
  packages/storefront/components/common/layout/ml-layout-navigation-link.vue
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/components/library/library-folder.vue
  packages/storefront/components/library/library-folders.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
Due: eslint --fix, stylelint --fix

load active folder
  packages/api/apps/api/src/mangas/mangas-library.resolver.ts
  packages/api/apps/api/src/mangas/models/library.type.ts
  packages/api/libs/database/src/repositories/manga/library-folder.repository.ts
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
  packages/storefront/graphql/library/index.ts
  packages/storefront/graphql/library/library-folder-by-id.query.graphql
  packages/storefront/pages/library/_id.vue
  packages/storefront/store/library-store.ts
Due: eslint --fix, stylelint --fix

add folder heading
  packages/storefront/components/common/ml-button.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/static/common-icons.svg
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

add folder heading
  packages/storefront/components/library/index.ts
  packages/storefront/components/library/list/index.ts
  packages/storefront/components/library/list/ml-library-folder.vue
  packages/storefront/components/library/list/ml-library-folders.vue
  packages/storefront/components/library/single/index.ts
  packages/storefront/components/library/single/ml-library-folder-header.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
Due: eslint --fix, stylelint --fix

Add manga counter
  packages/api/apps/api/src/mangas/models/library-folder.type.ts
  packages/api/apps/manga-library/src/services/library-folder.service.ts
  packages/api/libs/database/src/repositories/manga/library-folder.repository.ts
  packages/api/prisma/migrations/20220721200838_add_library_folder_counter/migration.sql
  packages/api/prisma/migrations/20220721203152_add_library_folder_position/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
  packages/storefront/components/common/index.ts
  packages/storefront/components/common/ml-button-back.vue
  packages/storefront/components/library/list/ml-library-folder.vue
  packages/storefront/components/library/single/ml-library-folder-header.vue
  packages/storefront/graphql/library/library-folders.query.graphql
  packages/storefront/locales/locale-en.ts
  packages/storefront/static/common-icons.svg
  packages/storefront/store/library-store.ts
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

add library animations
  packages/storefront/components/common/layout/index.ts
  packages/storefront/components/common/layout/ml-layout-content.vue
  packages/storefront/components/common/layout/ml-layout-navigation-link.vue
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/components/library/list/ml-library-folders.vue
  packages/storefront/layouts/default.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
  packages/storefront/styles/global.css
  packages/storefront/styles/page-transitions.css
Due: eslint --fix, stylelint --fix

add page animationa
  .eslintrc.js
  packages/api/libs/database/src/prisma/prisma.service.ts
  packages/storefront/components/common/layout/index.ts
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/layouts/default.vue
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/index.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
  packages/storefront/pages/notifications.vue
  packages/storefront/pages/profile.vue
  packages/storefront/static/common-icons.svg
  packages/storefront/styles/page-transitions.css
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

make index public
  packages/storefront/layouts/default.vue
  packages/storefront/pages/index.vue
Due: eslint --fix, stylelint --fix

add common heading
  packages/storefront/components/common/layout/index.ts
  packages/storefront/components/common/layout/ml-layout-content.vue
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/components/common/layout/ml-layout-page.vue
  packages/storefront/components/common/layout/ml-layout-subpage.vue
  packages/storefront/components/library/single/index.ts
  packages/storefront/components/library/single/ml-library-folder-header.vue
  packages/storefront/pages/index.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
  packages/storefront/pages/notifications.vue
  packages/storefront/pages/profile.vue
  packages/storefront/static/common-icons.svg
  packages/storefront/styles/page-transitions.css
Due: eslint --fix, stylelint --fix, svgo --config ./svgo.config.js

add search page
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/components/common/layout/ml-layout-page.vue
  packages/storefront/composables/use-router.ts
  packages/storefront/locales/locale-en.ts
  packages/storefront/pages/index.vue
  packages/storefront/pages/library/_id.vue
  packages/storefront/pages/library/index.vue
  packages/storefront/pages/profile.vue
  packages/storefront/pages/search.vue
Due: eslint --fix, stylelint --fix

Fix animations
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/styles/page-transitions.css
Due: eslint --fix, stylelint --fix

Fix nginx
  packages/gateway/config.nginx
  packages/storefront/components/common/layout/ml-layout-navigation.vue
  packages/storefront/styles/page-transitions.css
Due: eslint --fix, stylelint --fix

add manga to database & api
  packages/api/apps/api/src/auth/auth.resolver.ts
  packages/api/apps/api/src/auth/models/index.ts
  packages/api/apps/api/src/common/index.ts
  packages/api/apps/api/src/common/models/index.ts
  packages/api/apps/api/src/common/models/locale-text.type.ts
  packages/api/apps/api/src/common/models/success.type.ts
  packages/api/apps/api/src/mangas/library-folder.resolver.ts
  packages/api/apps/api/src/mangas/library-manga.resolver.ts
  packages/api/apps/api/src/mangas/library.resolver.ts
  packages/api/apps/api/src/mangas/manga.resolver.ts
  packages/api/apps/api/src/mangas/mangas.module.ts
  packages/api/apps/api/src/mangas/models/index.ts
  packages/api/apps/api/src/mangas/models/library-folder.type.ts
  packages/api/apps/api/src/mangas/models/library-manga.type.ts
  packages/api/apps/api/src/mangas/models/manga.type.ts
  packages/api/libs/database/src/repositories/manga/index.ts
  packages/api/libs/database/src/repositories/manga/library-folder.repository.ts
  packages/api/libs/database/src/repositories/manga/mangas-database.module.ts
  packages/api/libs/database/src/repositories/manga/mangas.repository.ts
  packages/api/prisma/migrations/20220724191733_add_manga/migration.sql
  packages/api/prisma/schema.prisma
  packages/api/schema.graphql
  packages/storefront/styles/page-transitions.css
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,vue}
  stylelint --fix: any of: *.{css,vue}
  svgo --config ./svgo.config.js: any of: *.svg
